<div class="p-4">
    <div class="row container-fluid">
        <div class="col">
            <select class="form-select" [(ngModel)]="selectedFilter" (ngModelChange)="applyFilter()">
                <option value="ALL">ALL</option>
                <option *ngFor="let status of bookingStatusOptions" [value]="status">{{ status }}</option>
            </select>
        </div>
        <div class="col">
            <select class="form-select" [(ngModel)]="selectedBedType" (ngModelChange)="applyFilter()">
                <option value="ALL">ALL</option>
                <option *ngFor="let type of bedTypeOptions" [value]="type">{{ type }}</option>
            </select>
        </div>
    </div>
    <div>
        <app-booking-item [idx]="-1" [isManager]="isManager" [isPatient]="isPatient"
            [isAdmin]="isAdmin"></app-booking-item>
        <h2 class="text-center mt-4 font-weight-bold text-danger" *ngIf="filteredBookings.length===0">
            No bookings found</h2>
        <app-booking-item *ngFor="let booking of filteredBookings; let i = index" [idx]="i" [booking]="booking"
            [isManager]="isManager" [isPatient]="isPatient" [isAdmin]="isAdmin"
            (rejectClick)="handleRejectClick(booking.id)" (approveClick)="handleApproveClick(booking.id)"
            (cancelClick)="handleCancelClick(booking.id)"
            (completeClick)="handleCompleteClick(booking)"></app-booking-item>
    </div>
</div>