<div class="container-fluid full-screen-container">
    <div class="dashboard-header row">
        <button class=" col-md-1 dashboard-signout-button" (click)="signOut()">
            Sign out <i class="fa fa-sign-out"></i>
        </button>
        <h1 class="display-6 font-weight-bold text-center col-md-10">HuMuS Portal</h1>
        <button class=" col-md-1 dashboard-profile-button" (click)="closeAll(); showProfileToggle=true;">
            <i class="fa fa-user"></i> Profile
        </button>
    </div>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light rounded mt-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-0 evenly-spaced-list">
                        <li *ngIf="isAdmin" class="nav-item">
                            <a class="nav-link"
                            (click)="closeAll(); showHospitals=true;">Hospitals</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link"
                            (click)="closeAll(); showBookings=true;">Bookings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                            (click)="closeAll(); showBeds=true;">Beds</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <app-hospitals-tab *ngIf="showHospitals"></app-hospitals-tab>
        <app-bookings-tab *ngIf="showBookings"></app-bookings-tab>
        <app-beds-tab *ngIf="showBeds"></app-beds-tab>
        <app-profile *ngIf="showProfileToggle"></app-profile>
    </div>
</div>