* {
    padding: 0px;
    margin: 0px;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0056b3;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.dashboard-profile-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dashboard-profile-button:hover {
    background-color: #003c80;
}

.dashboard-signout-button {
    background-color: #FF5733;
    color: #FFF;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.dashboard-signout-button:hover {
    background-color: #E74C3C;
}

.dashboard-signout-button i {
    margin-left: 5px;
}

.display-4.font-weight-bold {
    font-weight: bold;
    font-size: 28px;
}

.navbar {
    margin: 0;
    border: none;
    align-items: center;
}

.navbar-light .navbar-brand {
    display: none;
}

.navbar-toggler-icon {
    border-color: #fff;
}

.navbar-text {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.evenly-spaced-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
}

.evenly-spaced-list .nav-item {
    flex: 1;
    text-align: center;
}

.nav-item .nav-link {
    font-size: 18px;
    font-weight: bold;
    padding: 0 6px;
    transition: font-size 0.3s, color 0.3s;
    color: #333;
}

.nav-item .nav-link:hover {
    padding: 0 8px;
}

.nav-item .nav-link:active {
    color: #007bff;
}