::-webkit-scrollbar {
  display: none;
}

.bookbed-container {
  height: 90vh;
  padding: 2rem;
  position: relative;
}

#clear-btn {
  position: absolute;
  top: 0 + 2rem;
  right: 2rem;
}

.card-list {
  position: absolute;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
}

.card {
  padding: 8px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.card:last-child {
  border-bottom: none;
}

.table {
  overflow: scroll;
}

.custom-table {
  border: 1px solid rgb(165, 165, 165);
  border-radius: 5px;
}

h2 {
  padding-bottom: 1rem;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.view-beds-btn {
  border: 1px solid #365757;
  border-radius: 5px;
  padding: 10px;
}

.view-beds-btn:hover {
  background-color: #365757;
  color: white;
  box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.3);
}

p {
  text-align: center;
  color: red;
}
