<div class="bedinfo-container">
  <div class="content">
    <div class="hospitalDetails">
      <h3>HOSPITAL DETAILS</h3>

      <!-- Display Hospital Details -->
      <div class="details">
        <label>Hospital Name :<span>{{ selectedHospital.hospitalName }}</span></label>
        <label>Hospital Address :
          <span>{{
            selectedHospital.hospitalAddress.streetAddress +
              ", " +
              selectedHospital.hospitalAddress.cityName +
              "-" +
              selectedHospital.pincode +
              ", " +
              selectedHospital.hospitalAddress.stateName
          }}</span></label>
        <label>Contact No : <span>{{ selectedHospital.contactNo }}</span></label>
      </div>
    </div>


    <div class="cards">

      <!-- Display Regular bed card -->
      <div class="card" id="regular-bed">
        <p class="card-headings">REGULAR BEDS</p>
        <div class="img" id="img1"></div>
        <p *ngIf="regularBedACount > 0">Cost: Rs.<span>{{ regularBedCost }}</span>/-</p>
        <p *ngIf="regularBedACount === 0">Cost: Nill</p>
        <p>Available beds:<span class="badge bg-success">{{ regularBedACount }}</span></p>
        <p>Booked beds:<span class="badge bg-warning">{{ regularBedBCount }}</span></p>
        <button class="book-btn" *ngIf="regularBedACount > 0" data-bs-toggle="modal" data-bs-target="#bookbedModal" (click)="loadPatient('REGULAR_BED')">BOOK</button>
        <p class="text text-danger" *ngIf="regularBedACount === 0">Beds Not Available!</p>
      </div>

      <!-- Display ICU bed card -->
      <div class="card" id="icu-bed">
        <p class="card-headings">ICU BEDS</p>
        <div class="img" id="img2"></div>
        <p *ngIf="icuBedACount > 0">Cost: Rs.<span>{{ icuBedCost }}</span></p>
        <p *ngIf="icuBedACount === 0">Cost: Nill</p>
        <p>Available beds:<span class="badge bg-success">{{ icuBedACount }}</span></p>
        <p>Booked beds: <span class="badge bg-warning">{{ icuBedBCount }}</span></p>
        <button class="book-btn" *ngIf="icuBedACount > 0" data-bs-toggle="modal" data-bs-target="#bookbedModal" (click)="loadPatient('ICU_BED')">BOOK</button>
        <p class="text text-danger" *ngIf="icuBedACount === 0">Beds Not Available!</p>
      </div>

      <!-- Display Ventilator bed card  -->
      <div class="card" id="ventilator-bed">
        <p class="card-headings">VENTILATOR BEDS</p>
        <div class="img" id="img3"></div>
        <p *ngIf="ventilatorBedACount > 0">Cost: Rs.<span>{{ ventilatorBedCost }}</span>/-</p>
        <p *ngIf="ventilatorBedACount === 0">Cost: Nill</p>
        <p>Available beds:<span class="badge bg-success">{{ ventilatorBedACount }}</span></p>
        <p>Booked beds:<span class="badge bg-warning">{{ ventilatorBedBCount }}</span></p>
        <button class="book-btn" *ngIf="ventilatorBedACount > 0" data-bs-toggle="modal" data-bs-target="#bookbedModal" (click)="loadPatient('VENTILATOR_BED')">BOOK</button>
        <p class="text text-danger" *ngIf="ventilatorBedACount === 0">Beds Not Available!</p>
      </div>

      <!-- Display oxygen bed card  -->
      <div class="card" id="oxygen-bed">
        <p class="card-headings">OXYGEN BEDS</p>
        <div class="img" id="img4"></div>
        <p *ngIf="oxygenBedACount > 0">Cost: Rs.<span>{{ oxygenBedCost }}</span>/-</p>
        <p *ngIf="oxygenBedACount === 0">Cost: Nill</p>
        <p>Available beds:<span class="badge bg-success">{{ oxygenBedACount }}</span></p>
        <p>Booked beds:<span class="badge bg-warning">{{ oxygenBedBCount }}</span></p>
        <button class="book-btn" *ngIf="oxygenBedACount > 0" data-bs-toggle="modal" data-bs-target="#bookbedModal" (click)="loadPatient('OXYGEN_BED')">BOOK</button>
        <p class="text text-danger" *ngIf="oxygenBedACount === 0">Beds Not Available!</p>
      </div>
    </div>
  </div>
</div>

<!-- Display bookbed popup form  -->
<div class="modal fade" id="bookbedModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Book your bed:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label class="card-label">Patient Name : {{ firstName }}</label>
        <label class="card-label">Hospital Name : {{ selectedHospital.hospitalName }}</label>
        <label class="card-label">Bed Type : {{ bedType }}</label>
        <label class="card-label duration">Select duration :</label>
        <hr />
        <div class="date-picker-container">
          <!-- Input 1field for from date  -->
          <div class="input-group date">
            <label class="card-label">From : </label>
            <input class="date-picker" type="date" class="form-control" #fromDate/>
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-th"></span>
            </div>
          </div>
          <!-- Input field for to date  -->
          <div class="input-group date">
            <label class="card-label">To : </label>
            <input class="date-picker" type="date" class="form-control" #toDate/>
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-th"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addBooking(fromDate.value, toDate.value)">Book</button>
      </div>
    </div>
  </div>
</div>
