<div class="card">
    <div class="card-body">
        <h2>Your Hospital Details</h2>
        <form [formGroup]="hospitalForm" (ngSubmit)="updateHospital()">
            <!-- Hospital Name -->
            <div class="form-group"
                [class.error]="hospitalForm.controls['name'].dirty && hospitalForm.hasError('required', 'name')">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name">
                <small *ngIf="hospitalForm.controls['name'].dirty && hospitalForm.hasError('required', 'name')"
                    class="text-danger">*Name is required</small>
            </div>

            <!-- Hospital Type -->
            <div class="form-group"
                [class.error]="hospitalForm.controls['hospitalType'].dirty && hospitalForm.hasError('required', 'hospitalType')">
                <label for="hospitalType">Hospital Type</label>
                <select class="form-control" id="hospitalType" formControlName="hospitalType">
                    <option value="GOVT">Government</option>
                    <option value="PRIVATE">Private</option>
                    <option value="SEMI_PRIVATE">Semi-Private</option>
                </select>
                <small
                    *ngIf="hospitalForm.controls['hospitalType'].dirty && hospitalForm.hasError('required', 'hospitalType')"
                    class="text-danger">*Hospital type is required</small>
            </div>

            <!-- Contact Number -->
            <div class="form-group"
                [class.error]="hospitalForm.controls['contactNo'].dirty && hospitalForm.hasError('required', 'contactNo')">
                <label for="contactNo">Contact Number</label>
                <input type="text" class="form-control" id="contactNo" formControlName="contactNo" pattern="[0-9]{10}">
                <div *ngIf="hospitalForm.get('contactNo').invalid && hospitalForm.get('contactNo').touched"
                    class="text-danger">*Please enter a valid Contact Number of 10 digits starting with 6-9.</div>
            </div>

            <!-- Address -->
            <div class="form-group">
                <label for="state">State</label>
                <select class="form-control" id="state" name="state" formControlName="state">
                    <option disabled selected>Select State</option>
                    <option *ngFor="let state of indianStatesAndUTs" [value]="state">{{ state }}</option>
                </select>
                <div *ngIf="hospitalForm.get('state').invalid && hospitalForm.get('state').touched" class="text-danger">
                    *State is required.</div>
            </div>

            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" name="city" formControlName="city">
                <div *ngIf="hospitalForm.get('city').invalid && hospitalForm.get('city').touched" class="text-danger">
                    *City is required.</div>
            </div>

            <div class="form-group">
                <label for="pincode">Pincode</label>
                <input type="text" class="form-control" id="pincode" name="pincode" formControlName="pincode">
                <div *ngIf="hospitalForm.get('pincode').invalid && hospitalForm.get('pincode').touched"
                    class="text-danger">*Valid pincode is required of 6 digits.</div>
            </div>

            <div class="button-wrapper text-right mt-3">
                <button class="cancel-button" type="submit">Update</button>
            </div>
        </form>
    </div>
</div>