.bed-card {
    background-color: #dedede;
}

.hospital-name,
.hospital-type {
    font-size: 24px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.icon-container {
    position: absolute;
    top: 16px;
    left: 16px;
}

.icon-container i {
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.fa-times-circle {
    color: red;
}

.fa-check-circle {
    color: green;
}

.counter {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 16px;
    width: 40px;
    border-radius: 50%;
    background-color: darkgreen;
    display: flex;
    justify-content: center;
    color: #dedede;
    
    padding: 8px;
    align-items: center;
    font-weight: bold;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1.0);
}

.book-button {
    background-color: #45a049;
    border: 2px solid #45a049;
    color: #dedede;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.book-button:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.bed-content {
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-top: 16px;
}

.bed-details-row {
    display: flex;
    justify-content: space-between;
}

.counter-available {
    background-color: green;
}

.counter-booked {
    background-color: orange;
}

.counter-cancelled {
    background-color: red;
}

.counter-completed {
    background-color: blue;
}