<table class="table table-bordered custom-table">
    <thead *ngIf="idx===-1">
        <tr>
            <!-- Booking details -->
            <th class="text-center">Booking Date</th>

            <!-- Hospital details -->
            <th *ngIf="isPatient || isAdmin" class="text-center col">Hospital Name</th>
            <th *ngIf="isPatient || isAdmin" class="text-center col">Contact Number</th>
            <th *ngIf="isPatient || isAdmin" class="text-center col">Address</th>

            <!-- Patient details -->
            <th *ngIf="isManager || isAdmin" class="text-center col">Patient Name</th>
            <th *ngIf="isManager || isAdmin" class="text-center col">Contact Number</th>
            <th *ngIf="isManager || isAdmin" class="text-center col">Aadhar Card</th>
            <th *ngIf="isManager || isAdmin" class="text-center col">Address</th>

            <!-- Booking details -->
            <th class="text-center">Bed Type</th>
            <th class="text-center">Occupy Date</th>
            <th class="text-center">Release Date</th>
            <th class="text-center">Booking Status</th>

            <th class="text-center col">Bill</th>
            <th class="text-center col">Payment Staus</th>

            <th *ngIf="isManager || isPatient" class="text-center">Actions</th>


        </tr>
    </thead>

    <tr *ngIf="idx!==-1">

        <!-- Booking details -->
        <td class="text-center col">{{ booking.bookingDate | date:'dd-MM-yyyy' }}</td>

        <!-- Hospital details -->
        <td *ngIf="isPatient || isAdmin" class="text-center col">{{ hospital?.name }}</td>
        <td *ngIf="isPatient || isAdmin" class="text-center col">{{ hospital?.contactNo }}</td>
        <td *ngIf="isPatient || isAdmin" class="text-center col address-td">{{ hospital?.address.city + ', ' +
            hospital?.address.state + ' - '
            + hospital?.address.pincode }}</td>

        <!-- Patient details -->
        <td *ngIf="isManager || isAdmin" class="text-center col">{{ patient?.firstName + ' ' + patient?.lastName }}</td>
        <td *ngIf="isManager || isAdmin" class="text-center col">{{ patient?.contactNumber }}</td>
        <td *ngIf="isManager || isAdmin" class="text-center col">{{ patient?.aadharCard }}</td>
        <td *ngIf="isManager || isAdmin" class="text-center col address-td">{{ patient?.address.city + ', ' +
            patient?.address.state
            + ' - ' +
            patient?.address.pincode }}</td>

        <!-- Booking details -->
        <td class="text-center col">{{ booking.bedType }}</td>
        <td class="text-center col">{{ booking.occupyDate | date:'dd-MM-yyyy'}}</td>
        <td class="text-center col">{{ booking.releaseDate | date:'dd-MM-yyyy'}}</td>
        <td class="text-center col">
            <ng-container *ngIf="booking.bookingStatus === BookingStatus.APPROVED">
                <i class="fa fa-check-circle-o text-success"></i> {{BookingStatus.APPROVED}}
            </ng-container>
            <ng-container *ngIf="booking.bookingStatus === BookingStatus.DECLINED">
                <i class="fa fa-times-circle text-danger"></i> {{BookingStatus.DECLINED}}
            </ng-container>
            <ng-container *ngIf="booking.bookingStatus === BookingStatus.CANCELLED">
                <i class="fa fa-times-circle-o text-danger"></i> {{BookingStatus.CANCELLED}}
            </ng-container>
            <ng-container *ngIf="booking.bookingStatus === BookingStatus.COMPLETED">
                <i class="fa fa-check-circle text-success"></i> {{BookingStatus.COMPLETED}}
            </ng-container>
            <ng-container *ngIf="booking.bookingStatus === BookingStatus.REQUESTED">
                <i class="fa  fa-question-circle text-warning"></i> {{BookingStatus.REQUESTED}}
            </ng-container>
        </td>

        <!-- Bill and Payment -->
        <td *ngIf="booking.bookingStatus === BookingStatus.COMPLETED" class="text-center col">{{ billing.billAmount}}&#8377;</td>
        <td *ngIf="booking.bookingStatus === BookingStatus.COMPLETED"
            [ngClass]="{'text-center': true, 'col': true, 'text-warning': billing.paymentStatus === PaymentStaus.PENDING, 'text-success': billing.paymentStatus === PaymentStaus.COMPLETED}">
            {{ billing.paymentStatus }}</td>
        <td *ngIf="booking.bookingStatus !== BookingStatus.COMPLETED" class="text-center col"> - </td>
        <td *ngIf="booking.bookingStatus !== BookingStatus.COMPLETED" class="text-center col"> - </td>

        <!-- Action buttons -->
        <td *ngIf="shouldDisplayApproval(booking)" class="text-center">
            <button class="btn btn-success text-dark" (click)="onApproveClick(booking.id)">Approve</button>
            <button class="btn btn-danger text-dark" (click)="onRejectClick(booking.id)">Reject</button>
        </td>
    
        <td *ngIf="shouldDisplayPatientActions(booking)" class="text-center">
            <button *ngIf="booking.bookingStatus === BookingStatus.REQUESTED" class="btn btn-warning text-dark"
                (click)="onCancelClick(booking.id)">Cancel</button>
            <button *ngIf="booking.bookingStatus === BookingStatus.APPROVED" class="btn btn-success text-dark"
                (click)="onCompleteClick(booking)">Complete</button>
            <button *ngIf="shouldDisplayPaymentButton(booking)" class="btn btn-success text-dark"
                (click)="payBill()">Pay</button>
        </td>
    
        <td *ngIf="shouldDisplayNoAction(booking)" class="text-center">No Action</td>    
    </tr>
</table>