<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2>{{userDetails?.role + ' - '+userDetails?.email}}</h2>
                    <div class="row justify-content-end">
                        <form [formGroup]="userForm" (ngSubmit)="updateUser()">
                            <div class="form-group"
                                [class.error]="userForm.controls['firstName'].dirty && userForm.hasError('required','firstName')">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" id="firstName" formControlName="firstName">
                                <small
                                    *ngIf="userForm.controls['firstName'].dirty && userForm.hasError('required','firstName')"
                                    class="text-danger">*First Name is required</small>
                            </div>
                            <div class="form-group"
                                [class.error]="userForm.controls['lastName'].dirty && userForm.hasError('required','lastName')">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" id="lastName" formControlName="lastName">
                                <small
                                    *ngIf="userForm.controls['lastName'].dirty && userForm.hasError('required','lastName')"
                                    class="text-danger">*Last Name is required</small>
                            </div>
                            <div class="form-group"
                                [class.error]="userForm.controls['password'].dirty && userForm.hasError('required','password')">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" formControlName="password"
                                    placeholder="Enter your password">
                            </div>
                            <small
                                *ngIf="userForm.controls['password'].dirty && userForm.hasError('required','password')"
                                class="text-danger">*Password is required</small>
                            <small
                                *ngIf="userForm.controls['password'].dirty && userForm.hasError('pattern','password')"
                                class="text-danger">*Password must contain at least one number, one uppercase and a
                                lowercase letter and at least 8 characters</small>
                            <div class="form-group"
                                [class.error]="userForm.controls['confirmPassword'].dirty && userForm.hasError('required','confirmPassword')">
                                <label for="confirmPassword">Confirm password</label>
                                <input id="confirmPassword" class="form-control" formControlName="confirmPassword"
                                    type="password" placeholder="Confirm your password">
                            </div>
                            <small
                                *ngIf="userForm.controls['confirmPassword'].dirty && userForm.hasError('required','confirmPassword')"
                                class="text-danger">*Confirm password is required</small>
                            <div class="button-wrapper text-right mt-3">
                                <button class="cancel-button" type="submit">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" *ngIf="isManager">
            <app-hospital-profile></app-hospital-profile>
        </div>
        <div class="col-md-6" *ngIf="isPatient">
            <app-patient-profile></app-patient-profile>
        </div>
    </div>
</div>